<h1><%= @restaurant.name  %></h1>

<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<br>

<% if @restaurant.reviews.any? %>
  <h2>Reviews</h2>
  <%= link_to "Add my review", new_restaurant_review_path(restaurant_id: @restaurant.id) %>
  <div>
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= link_to "Add my review", new_restaurant_review_path(restaurant_id: @restaurant.id) %>
<% end %>

<br>

<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-secondary btn-sm" %>
